<div class="header-inner">
  <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
    <a href="javascript:;"
       toggle-class
       events="['click']"
       toggle-element="'app .app'"
       class-list="[['+', 'offscreen', 'move-right'], ['+', 'offscreen', 'move-right']]"
       clear-click="true"
       class="toggle-offscreen">
      <i class="material-icons">menu</i>
    </a>
    <!--<a href="javascript:;" class="brand-logo hidden-xs-down">-->
      <!--<img src="assets/img/logo_white.png"-->
           <!--alt="logo"/>-->
    <!--</a>-->
  </div>
  <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" href="/">
    <span ng-bind="$ctrl.pageTitle"></span>
  </a>
</div>
